body {
  background-color: #444;
  color: #8d8;
}

main {
  display: flex;
  gap: 1em;
}

#board {
  display: grid;
  grid-template-columns: repeat(var(--WIDTH), 32px);
  --border-color: #aaa;
}

#info {
  border: 1px solid #aaa;
  width: 100%;
  padding: 1.5em;
  font-family: 'Courier New', Courier, monospace;
}

#info h2 {
  margin: 0;
}

#info li {
  white-space: pre;
}

#info ul:has(#target) {
  list-style-type: disclosure-closed;
}

.field {
  border-left: 1px dotted var(--border-color);
  border-top: 1px dotted var(--border-color);
  width: 32px;
  height: 32px;
}
.lastx {
  border-right: 1px dotted var(--border-color);
}
.lasty {
  border-bottom: 1px dotted var(--border-color);
}

.snake {
  background-color: #11a411;
}

.apple {
  background-color: #b71111;
}