body {
  background-color: #444;
  color: #8d8;
}

main {
  display: flex;
  gap: 1em;
}

#board {
  display: grid;
  grid-template-columns: repeat(var(--WIDTH), 32px);
  --border-color: #aaa;
  border: 2px solid var(--border-color);
}

.hide {
  visibility: hidden;
}

#info {
  border: 1px solid #aaa;
  width: 100%;
  padding: 1.5em;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#info h2 {
  margin: 0;
}

#info li {
  white-space: pre;
}

#info ul:has(#target) {
  list-style-type: disclosure-closed;
}

#info #queue {
  max-height: 16em;
  overflow: hidden;
}

form#settings {
  display: grid;
  grid-template-columns: min-content max-content;
  gap: 8px;
  justify-items: start;
  color: rgb(99, 168, 99);
}

form#settings input {
  margin: 0;
  max-width: 3em;
  background-color: #444;
  color: rgb(99, 168, 99);
}

form#settings input[type=checkbox]:not(:checked) {
  opacity: .4;
}

.node {
  border: 2px solid var(--border-color);
  
  width: 32px;
  height: 32px;
}

.east {
  border-right-color: transparent;
}
.west {
  border-left-color: transparent;
}
.north {
  border-top-color: transparent;
}
.south {
  border-bottom-color: transparent;
}

/*
.lastx {
  border-right: 1px dotted var(--border-color);
}
.lasty {
  border-bottom: 1px dotted var(--border-color);
}
*/
.snake {
  background-color: #11a411;
}

.apple {
  background-color: #b71111;
}