body {
  background-color: #444;
  color: #8d8;
}

main {
  display: flex;
  gap: 1em;
}

#board {
  display: grid;
  grid-template-columns: repeat(var(--WIDTH), 32px);
  grid-auto-rows: 32px;
  --border-color: #aaa;
  background-color: #6daa2c;
}

.field {
  border-left: 1px dotted var(--border-color);
  border-top: 1px dotted var(--border-color);
  width: 32px;
  height: 32px;
  background-image: url(images/basictiles.png);
  background-size: 800% 1500%;
  image-rendering: pixelated;
  position: relative;
}

.field {
 
  /*
    const w = (m_field.type%8) * -100;
    const h = Math.floor(m_field.type/8) * -100;

    v_field.style.backgroundPosition = `${w}% ${h}%`;
  */
  background-position: var(--w) var(--h);
}

.corner::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;

  /* outline: 2px solid cyan; */
  background-image: url(images/basictiles.png);
  background-size: 1600% 3000%;
  /* set to opposite */
  
}

.corner.tl::before {
  left: 0;
  top: 0;
  background-position: var(--corner-w) var(--corner-h);
}

.corner.tr::before {
  right: 0;
  top: 0;
  background-position: calc(var(--corner-w) - 100%) var(--corner-h);
}

.corner.bl::before {
  left: 0;
  bottom: 0;
  background-position: var(--corner-w) calc(var(--corner-h) - 100%);
}

.corner.br::before {
  right: 0;
  bottom: 0;
  background-position: calc(var(--corner-w) - 100%) calc(var(--corner-h) - 100%);
}

.overlay::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  /* outline: 1px solid red; */
  background-image: url(images/basictiles.png);
  background-size: 800% 1500%;
}

.water.overlay::after {
  background-position: var(--w) calc(var(--h) - 300%);
}

.corner.overlay::after {
  background-position: var(--w) -200%;
}
/* TODO: Figure out how to handle corners AND borders */
.border.northwest::after {
  background-position: -000% -300%;
}
.border.north::after {
  background-position: -100% -300%;
}
.border.northeast::after {
  background-position: -200% -300%;
}
.border.east::after {
  background-position: -200% -400%;
}
.border.west::after {
  background-position: -000% -400%;
}
.border.southwest::after {
  background-position: -000% -500%;
}
.border.south::after {
  background-position: -100% -500%;
}
.border.southeast::after {
  background-position: -200% -500%;
}